[Unit]
Description=Tidbyt Tracker
After=network.target

[Service]
ExecStart=/home/diego/.nvm/versions/node/v22.12.0/bin/node server.js
WorkingDirectory=/home/diego/tidbyt-tracker
RestartSec=5s
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
